@import '~src/scss/_colors';

.home-navbar {
    z-index: 100000;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    font-family: 'Oswald', sans-serif;
    .hamburger {
        padding-left: 1em;
        font-size: 120%;
        display: none;
        color: $text-white;
        height: 74px;
        line-height: 74px;
    }
    ul {
        font-size: 80%;
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        li {
            cursor: pointer;
            color: $text-white;
            padding: 1em 3em;
            margin: 0.5em 0em;
            &:hover {
                color: $yellow-accent;
            }
            &:focus {
                outline: 0;
            }
        }
        :not(:first-child) {
            border-left: 1px solid rgba(255, 255, 255, 0.5);
        }  
    }
    i {
        padding: 5px;
    }
}

.active-route {
    text-decoration: underline;
}


@media screen and (max-width: 720px) {
    .hamburger {
        display: block !important;
    }
    li {
        width: 100%;
        padding: 0.3em 0 !important;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    ul {
        :not(:first-child) {
            border-left: 0 !important;
        }
    }

}


