@import '~src/scss/_colors';


.component-product-details {
    border-bottom: 1px solid #d5d5d5;
    float: left;
    padding: 1em;
    font-size: 80%;
    img {
        max-width: 100%;
        border-radius: 5px;
    }
    p {
        margin: 0;
    }
    .title {
        font-weight: 700;
        font-size: 110%;
        text-align: center;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}


@media  screen and (max-width: 768px) {
    .component-product-details {
        width: 100%;
    }
}

@media  screen and (min-width: 768px) {
    .component-product-details {
        width: 50%;
    }
}