@import '~src/scss/_colors';


.component-product-page {
    overflow: hidden;
    background: white;
    padding-top: 90px;
    font-family: 'Roboto Condensed', sans-serif;
    h5 {
        text-align: center;
    }
    .sidebar {
        background: $bootstrap-white;
    }
    .main-content {
        background: $bootstrap-white;
        padding: 0;
    }
    
}