<div class="component-product-page">
    <h5>Products</h5>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar offset-lg-2 offset-md-1 col-lg-2 col-md-3">
                <app-category-selection></app-category-selection>
            </div>
            <div class="main-content col-lg-6 col-md-7">
                <app-product-details></app-product-details>
                <app-product-details></app-product-details>
                <app-product-details></app-product-details>
                <app-product-details></app-product-details>
                <app-product-details></app-product-details>
            </div>
        </div>
    </div>
</div>