$white-overlay: rgba(245, 245, 245, 0.8);
$background-white: #ffffff;
$almost-black: rgba(45, 45, 45, 1);
$text-white: #ffffff;
$secondary-text: #777;
$yellow-accent: #ffffb2;
$bootstrap-white: #f9f9f9;