@import '~src/scss/_colors';
@import '~src/scss/_fonts';

$home-screen-image: '/assets/images/laptop.png';

// styles
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}



