@import '~src/scss/_colors';

.component-slideshow {
    overflow: hidden;
    //background: url($path-slideshow-background);
    background: $bootstrap-white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4vh 0;
    font-family: 'Roboto Condensed', sans-serif;
    h1 {
        text-align: center;
        font-size: 150%;
        margin-bottom: 1.5em;
        color: $almost-black;
    }
}

